services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: docker_app
    ports:
      - 5000:5000
    environment:
      - NODE_ENV=production
      - PORT=5000
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=vuln_app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
      - POSTGRES_PORT=5432
      - JWT_SECRET=secret
      - ADMIN_PASSWORD=admin123
    networks:
      - app_network
    depends_on:
      - postgres
    volumes:
      - ./logs:/app/logs

  postgres:
    image: postgres:13-alpine
    container_name: postgres_db
    environment:
      - POSTGRES_DB=vuln_app
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345678
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app_network
    ports:
      - 5432:5432

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - 80:80
      - 8080:8080
      - 443:443
    depends_on:
      - app
    networks:
      - app_network
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx-logs:/var/log/nginx

networks:
  app_network:
    driver: bridge

volumes:
  pgdata:
    driver: local
